<ion-header>
  <ion-toolbar>
     <ion-title>  
        Grid Example  
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
<ion-row>
<ion-col>
  <div class="example">
    Not visible on ipad and desktop
    </div>
</ion-col>  
</ion-row>
<ion-row>
  <ion-col>
    <div class="example1">
      Not visible on iphone and ipad
      </div>
  </ion-col>  
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="example2">
        Not visible on iphone and desktop
        </div>
    </ion-col>  
    </ion-row>
</ion-grid>




</ion-content>