

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.example {
  background-color: yellow;
  padding: 20px;
  background-image:url(../../assets/img/invoice.svg), url(../../assets/img/booking-summary.png);
	background-position:center top, center bottom;
  background-repeat:no-repeat, no-repeat;
  width:100%;
	height:600px;
}
.example1 {
  background-color: blue;
  padding: 20px;
  color:white;
  background-image:url(../../assets/img/invoice.svg), url(../../assets/img/booking-summary.png);
	background-position:center top, center bottom;
  background-repeat:no-repeat, no-repeat;
  width:100%;
	height:600px;
}
.example2 {
  background-color: red;
  padding: 20px;
  color:white;
  background-image:url(../../assets/img/invoice.svg), url(../../assets/img/booking-summary.png);
	background-position:center top, center bottom;
  background-repeat:no-repeat, no-repeat;
  width:100%;
	height:600px;
}
@media only screen and (min-device-width : 768px)  {


  .example {
    display: none;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
     .example1 {
        display: none;
      }


    }
    .example2{ display:none } 
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {.example2{ display : block } }
